*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background-color: #B6C7AA;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb{
    background-color: #729762;
    border-radius: 12px;
}